:root {
  --background: #F3F0DF;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #F3F0DF;
  }
}

body {
  margin: 0;
  background-color: #F3F0DF;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.tabIcon {
  position: absolute;
  padding: 10px;
  border-radius: 10px;
  box-shadow: inset 0 0 0 2px #000, -1px 5px 0 1px #000;
  font-size: 32px;
  z-index: 9999;
  background: #84CEC4;
  color: #F3F0DF;
  position: absolute;
  left: 50%;
  top: 42px;
  transform: rotate(-12deg);
  margin-left: -417px;
  z-index: 1001;
}

.tabIcon2 {
  position: absolute;
  padding: 10px;
  border-radius: 10px;
  font-size: 20px!important;
  box-shadow: inset 0 0 0 2px #000, -1px 5px 0 1px #000;
  font-size: 32px;
  z-index: 9999;
  background: #F3F0DF;
  color: #84CEC4;
  position: absolute;
  left: 50%;
  top: 73px;
  transform: rotate(12deg);
  margin-left: -428px;
  z-index: 1002;
}

.tabs {
  z-index: 999;
  margin-top: 40px;
  border-radius: 20px;
  background-color: #F3F0DF;
  position: relative;
  box-shadow: inset 0 0 0 2px #000, 5px 5px 0 2px #000;
}

.tabs .MuiButtonBase-root.MuiTab-root {
  padding-top: 13px;
  color: #000;
}

.tabs .MuiTabs-indicator{
  border-radius: 20px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  height: 20px;
  bottom: -10px;
  background: #000;
  z-index: -1;
}

.tabPanel {
  max-width: 926px;
  display: block;
  margin: 0 auto;
}
.slideOut {
  animation: slideOut 300ms ease-in-out forwards;
  animation-delay: 1ms;
}

.slideIn {
  animation: slideIn 300ms ease-in-out both;
  animation-delay: 300ms;
}

.aspect-box iframe, .aspect-box img {
  border:none;
  position: absolute;
  background-color: #84CEC4;
  top: 0;
  left: 0;
  width: 100%;
  max-height: calc(100% + 5px);
  object-fit: fill;
  animation: fadeIn 2s;
  font-size: 20px;
}

.aspect-box img {
  filter: hue-rotate(-40deg);
}

@media (max-width: 768px) {
  .tabs {
    margin-top: 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #F3F0DF; /* Optional: Background color */
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2); /* Optional: Shadow */
    border-radius: 0;
    box-shadow: none;
    z-index: 999;
    border-bottom: 3px solid #000;
  }

  .tabs .MuiButtonBase-root.MuiTab-root {
    padding-top: 23px;
  }
}

.subTitle {
  padding: 10px;
  border-radius: 10px;
  box-shadow: inset 0 0 0 2px #000, -1px 5px 0 1px #000;
  font-size: 20px;
  z-index: 9999;
  background: #84CEC4;
  color: #F3F0DF;
  margin-right:15px;
  display: flex;
  align-items: center;
  gap: 5px;
  min-width: 85px;
  line-height: 1rem;

}

.subTitle.subTitleIcon {
  min-width: 16px;
}

.MuiTypography-root.Title {
  font-size: 2rem;
  line-height: 2.5rem;
}
@media (max-width: 768px) {
  .subTitle {
  min-width: 71px;
  font-size: 14px;
  }
  .MuiTypography-root.Title {
    font-size: 1.5rem;
    line-height: 2.5rem;
  }
}

.aspect-box {
  display: block;
  position: relative;
  z-index: 1;
  overflow: hidden;
  border-radius: 20px;
  background-color: #84CEC4;
  border:2px solid rgba(0,0,0,1);
  box-shadow: 12px 12px 0px rgba(0,0,0,1);
  width: 875px;
  max-width: calc(100vw - 50px);
  padding-top:calc(56.25% - 3px);
}

.MuiTypography-root li {
  margin-bottom: 10px;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes slideIn {
  0% {
      transform: translateY(-50%) scale(.5);
      opacity: 0;
  }
  100% {
      transform: translateY(0) scale(1);
      opacity: 1;
  }
}

@keyframes slideOut {
  0% {
    transform: translateY(0) scale(1);
    opacity: 1;
  }
  100% {
    transform: translateY(100%) scale(2);
    opacity: 0;
  }
}

.MuiButtonBase-root.MuiButton-root {
  border:2px solid rgba(0,0,0,1) !important;
  box-shadow: 6px 6px 0px rgba(0,0,0,1) !important;
  transition: all 300ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.MuiButtonBase-root.MuiButton-root:active {
  border:2px solid rgba(0,0,0,1) !important;
  box-shadow: 3px 3px 0px rgba(0,0,0,1) !important;
}
